<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Suites">
    <test name="Login">
        <classes>
            <class name="com.revature.project01.runners.BasicRunner" />
        </classes>
    </test>
    <test name="Navigation">
        <classes>
            <class name="com.revature.project01.runners.BasicRunner" />
        </classes>
    </test>
    <test name="Matrix">
        <classes>
            <class name="com.revature.project01.runners.BasicRunner" />
        </classes>
    </test>
    <test name="Assign Defect">
        <classes>
            <class name="com.revature.project01.runners.BasicRunner" />
        </classes>
    </test>
    <test name="Defect Status">
        <classes>
            <class name="com.revature.project01.runners.BasicRunner" />
        </classes>
    </test>
    <test name="Report Defect">
        <classes>
            <class name="com.revature.project01.runners.BasicRunner" />
        </classes>
    </test>
    <test name="Test Cases">
        <classes>
            <class name="com.revature.project01.runners.BasicRunner" />
        </classes>
    </test>
</suite>
